<form (ngSubmit)="addReservation()" [formGroup]="reservationForm" style="display: flex; flex-direction: row; flex-wrap: wrap">
  <div class="flex-column mr-4" formGroupName="startDateTime">
    <label class="form-control-label">Godzina startu</label>
    <ngb-timepicker formControlName="time" [spinners]="false"></ngb-timepicker>
    <app-validation-errors  [formField]="findFormField('startDateTime.time')"></app-validation-errors>
  </div>
  <div class="flex-column mr-2">
    <label class="form-control-label" for="reservationNameInput">Nazwa rezerwacji</label>
    <input id="reservationNameInput" style="width: 250px" class="form-control" placeholder="Drukowanie 3D" type="text"
           formControlName="name"/>
    <app-validation-errors [formField]="findFormField('name')"></app-validation-errors>
  </div>
  <div class="flex-column mr-4">
    <label class="form-control-label" for="reservationDurationInput">Czas drukownania</label>
    <input id="reservationDurationInput" class="form-control" type="number" placeholder="6" formControlName="duration"/>
    <app-validation-errors [formField]="findFormField('duration')"></app-validation-errors>
  </div>
  <div style="flex-direction: column; display: flex; justify-content: flex-end; border: 0">
    <button [disabled]="reservationForm" class="btn btn-success pl-3 pr-3">Dodaj</button>
  </div>
</form>
