<section class="m-4" style="display: flex; flex: auto;flex-direction: row; flex-wrap: wrap">
  <div class="mr-2 flex-column mt-4 " style="width: 400px">
    <label class="form-control-label">Wybierz drukarkę</label>
    <ng-select [items]="printers"
               bindLabel="name"
               [(ngModel)]="selectedPrinter"
               [clearable]="false"
               [searchable]="false"
               [ngClass]="{'printerBroken': isPrinterBroken(selectedPrinter)}"
    ></ng-select>
  </div>
  <div class="mr-4 mt-4" style="padding-top: 32px">
    <app-add-printer ></app-add-printer>
  </div>

  <div class="flex-column mr-2 mt-4" style="width: 250px">
    <label for="selectDateInput" class="form-control-label mr-3">Wybierz datę</label>
    <input type="text"
           id="selectDateInput"
           class="form-control"
           [(ngModel)]="selectedDate"
           placeholder="yyyy-mm-dd"
           ngbDatepicker #startDate="ngbDatepicker"
           (click)="startDate.toggle()"/>
  </div>

  <div class="mt-4">
    <app-reservation-creator [printerId]="selectedPrinter?.id" [selectedDate]="convertFromNgbDate(selectedDate)"></app-reservation-creator>
  </div>
</section>

<section class="m-5">
  <app-week-view [selectedDate]="convertFromNgbDate(selectedDate)" [printer]="selectedPrinter"></app-week-view>
</section>
