.technicalSpace {
    height : 15px;
    background: repeating-linear-gradient(
                45deg,
                #c9d8c5,
                #9fa8a3 10px,
                #101213 10px,
);
}

.reservationBody {
    background-color: #a8b6bf;
}