.technicalSpace {
    background-image: (
        linear-gradient(
            -45deg,
            transparent 46%,
            #cdd9e0 49%,
            #cdd9e0 51%,
            transparent 55%));
    background-size: 5px 5px;
}

.main-panel-PRINTING {
    background-color: #f3e9ee;
}
.main-panel-TEMPORAL {
  background-color: #cbcbcb;
}
.main-panel-MAINTENANCE {
  background-color: #dff6ea;
}

p {
    margin: 5px;
    max-width: 0.1 wv;
    word-wrap: break-word;
    font: 1em "Segoe UI" !important;
}

.btn-default {
    background-color: #e3e0cf;
    width:auto;
    height: auto;
    margin: 5px;
    text-align: center;
    margin-top: 0;
    white-space: normal;
    overflow: hidden;
    font: 1em "Segoe UI" !important;
}
