<div *ngIf="reservation" >
  <div class="technicalSpace"></div>
    <div class="reservationBody" [ngStyle]="{ 'height': calculateHeight() +'px'}">
        <p [ngStyle]="{ 'font-size': calculateSizeOfElements() +'px'}">NAZWA: {{reservation.name}}</p>
        <p [ngStyle]="{ 'font-size': calculateSizeOfElements() +'px'}">CZAS DRUKOWANIA: {{reservation.duration}}h</p>
        <p [ngStyle]="{ 'font-size': calculateSizeOfElements() +'px'}">UŻYTKOWNIK: {{reservation.user.mail}}</p>
        <p>
          <button *ngIf="canReservationBeDeleted()" class="btn btn-default"
          [ngStyle]="{'height': calculateSizeOfElements()*3 +'px', 'font-size': calculateSizeOfElements() +'px'}">
            USUŃ <i class="fa fa-trash"></i></button></p>
        <p >
          <button *ngIf="canReservationBeStopped()" class="btn btn-default"
          [ngStyle]="{'height': calculateSizeOfElements()*3 +'px', 'font-size': calculateSizeOfElements() +'px'}">
            ZAKOŃCZ <i class="fa fa-close"></i></button></p>
     </div>
    <div class="technicalSpace"></div>
</div>

