.technicalSpace {
    height : 15px;
    background-image: (
        linear-gradient(-45deg, transparent 46%, #cdd9e0 49%, #cdd9e0 51%, transparent 55%));
background-size: 5px 5px;
}

.reservationBody {
    background-color: #ffffff
}
p{
    height: auto;
    min-height: 10px;

}

.btn-default {
    background-color: #e3e0cf;
    height: auto;
    min-height: 10px;

}
